@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-white text-slate-900 antialiased;
  font-family: 'Inter', sans-serif;
}

.glass {
  @apply bg-white/80 backdrop-blur-md border border-white/20;
}

.premium-gradient {
  @apply bg-gradient-to-r from-[#003366] to-[#0056b3];
}